form {
  text-align: center;
  padding-bottom: 10px;
}
body {
  height: 100%;
  margin: 0;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  font-weight: 700;
  padding: 10px;
  margin: 0;
}
h2 {
  font-size: 50px;
  padding: 0px 20px;
}
ul {
  display: block;
  list-style: none;
  padding: 0;
  padding-left: 6px;
  margin-bottom: 4px;
  font-size: 18px;
}

p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  padding-left: 10px;
}

.container {
  max-width: 420px;
  min-height: 460px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #a08d8d;
  padding: 8px;
}

.col-2,
.col-12 {
  text-align: center;
  font-size: 15px;
}
.weather-type {
  font-family: var(--bs-body-font-family);
  font-size: 20px;
}
.date {
  font-weight: bold;
}
#current-weather {
  padding: 16px 0px;
}
#forecast {
  padding: 20px 0px;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
footer {
  font-size: small;
  text-align: center;
  padding: 6px;
  color: #a08d8d;
}
